# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Temp / logs
*.log
*.tmp
*.bak

# Env
.env
.env.*
